<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>Join</title>
</head>
<body>
<h2> 회원가입 </h2>
<form id="joinform">
    <p>username : <input type="text" id="username"/></p>
    <p>password : <input type="password" id="password"/></p>
    <input type="submit" id="submit" value="회원가입"/>
</form>

<script>
    $('#submit').on('click',function(e){
        e.preventDefault();
        var data = new Object();
        data.username = $('#username').val() || null;
        data.password = $('#password').val() || null;
        $.ajax({
            url : '/join',
            method : 'POST',
            data : JSON.stringify(data),
            contentType : 'application/json',
            success : function(data, textStatus, jqXHR) {
                console.log(data.toString());
                window.location.href = '/';
            },
            error : function () {
                window.location.href = '/join';
            }
        });
    });
</script>
</body>
</html>
